@page "/borrows/search/"
@page "/borrows/search/{bookId:int}"
@using VG8KS3_LibraryApp.Shared.Models
@inject HttpClient Http


<style>
    .btn-primary:hover,
    .btn-primary:focus {
        background-color: #6f42c1 !important;
        border-color: #6f42c1 !important;
        color: white !important;
    }
</style>

<PageTitle>Search borrow</PageTitle>

<h3 class="mb-5 mt-5">Search results for book ID: @bookId</h3>

<div class="col-12 d-flex flex-column justify-content-around align-items-center text-white">
    
    <EditForm Model="@borrowSearch" OnValidSubmit="@NavigateToSearchPage" class="d-flex w-100 mt-4 gap-4">
        
        <InputNumber @bind-Value="borrowSearch.bookId" placeholder="Search by book ID..." class="form-control mb-2 "/>
       
        <button type="submit" class="btn btn-primary btn-outline-light" style=" height: 40px; width: 300px;">
            <span class="bi bi-search" aria-hidden="true"></span> Search
        </button>
        
    </EditForm>
    
</div>

@if (borrows == null)
{
    <p>Loading...</p>
}
else if (borrows.Count == 0)
{
    <p>No borrows found.</p>
}
else
{
    <table class="table table-striped table-bordered">
        
        <thead>
        <tr>
            <th>Book ID</th>
            <th>Book's Title</th>
            <th>Reader ID</th>
            <th>Reader's Name</th>
            <th>Date of borrow</th>
            <th>Date of return</th>
        </tr>
        </thead>
        
        <tbody>
        @foreach (var b in borrows)
        {
            <tr>
                <td>@b.BookId</td>
                <td>@(bookTitles.ContainsKey(b.BookId) ? bookTitles[b.BookId] : "N/A")</td>
                <td>@b.ReaderId</td>
                <td>@(readerNames.ContainsKey(b.ReaderId) ? readerNames[b.ReaderId] : "N/A")</td>
                <td>@($"{b.DateOfBorrow.Year}. {b.DateOfBorrow.Month}. {b.DateOfBorrow.Day}")</td>
                <td>@($"{b.DateOfReturn.Year}. {b.DateOfReturn.Month}. {b.DateOfReturn.Day}")</td>
            </tr>
        }
        </tbody>
        
    </table>
}

<div class="col-12 d-flex flex-column justify-content-around align-items-center text-white mt-5 mb-5">
    
    <a href="/borrows" class="btn btn-primary btn-outline-light " style=" width: 500px;  font-size: 20px;">Cancel</a>
    
</div>


@code {
    [Inject] private NavigationManager Navigation { get; set; } = default!;
    [Parameter] public int bookId { get; set; }
    
    /// <summary>
    /// list of all the matching borrow objects in the database based on the bookId
    /// </summary>
    private List<Borrow>? borrows;
    
    /// <summary>
    /// dictionary of the book titles corresponding to each borrow in the database
    /// </summary>
    private Dictionary<int, string> bookTitles = new();
    
    /// <summary>
    /// dictionary of the reader names corresponding to each borrow in the database
    /// </summary>
    private Dictionary<int, string> readerNames = new();


    protected override async Task OnInitializedAsync()
    {
        await LoadContentAsync();
    }
    
    
    protected override async Task OnParametersSetAsync()
    {
        await LoadContentAsync();
    }
    
    /// <summary>
    /// method to load the matching data from the database based on the bookId,
    /// in other words, to SEARCH BORROW from the database via HTTP Controllers
    /// </summary>
    private async Task LoadBorrowsAsync()
    {
        string url;

        if (bookId == null || bookId == 0)
        {
            url = "api/Borrow/";
        }
        else
        {
            url = $"api/Borrow/search?BookId={bookId}";
        }

        var response = await Http.GetAsync(url);

        if (response.IsSuccessStatusCode)
        {
            borrows = await response.Content.ReadFromJsonAsync<List<Borrow>>();
        }
        else
        {
            borrows = new();
        }
    }
    
    /// <summary>
    /// method to fill the dictionaries up with the correct book titles and reader names
    /// </summary>
    private async Task LoadContentAsync()
    {
        await LoadBorrowsAsync();

        if (borrows != null)
        {
            var bookIds = borrows.Select(b => b.BookId).Distinct();
            var readerIds = borrows.Select(b => b.ReaderId).Distinct();

            foreach (var id in bookIds)
            {
                var book = await Http.GetFromJsonAsync<Book>($"api/Book/{id}");
                if (book != null && !bookTitles.ContainsKey(id))
                    bookTitles[id] = book.Title;
            }

            foreach (var id in readerIds)
            {
                var reader = await Http.GetFromJsonAsync<Reader>($"api/Reader/{id}");
                if (reader != null && !readerNames.ContainsKey(id))
                    readerNames[id] = reader.Name;
            }
        }
    }
    
    /// <summary>
    /// the class for the search containing the query
    /// </summary>
    private class BorrowSearch
    {
        public int bookId { get; set; }
    }
    
    /// <summary>
    /// the search object that will store the query
    /// </summary>
    private BorrowSearch borrowSearch = new BorrowSearch();
    
    /// <summary>
    /// method to navigate to SEARCH BOOK page according to the query
    /// </summary>
    private void NavigateToSearchPage()
    {
        if (borrowSearch.bookId > 0)
        {
            Navigation.NavigateTo($"/borrows/search/{borrowSearch.bookId}");
        }
    }
    
}